<div class="row">
  <div class="offset-lg-2 col-lg-8 mt-3 mb-3 text-center">
    <% if @user.image? %>
      <img src="<%= @user.image %>" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" >
    <% else %>
      <img src="/assets/default.jpeg" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" >
    <% end %>
    <% if @user.id == @current_user.id %>
      <div class="button pt-3">
          <%= link_to 'プロフィール編集', edit_user_path(@current_user), class: 'btn btn-outline-dark' %>
          <%= link_to '削除', user_path(@user.id), class: 'btn btn-danger', method: :delete %>
      </div>
    <% end %>

  </div>
  <div class="offset-lg-2 col-lg-8">
    <table class="table">
        <tr>
          <th scope="col" class="text-nowrap">ニックネーム</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="col" class="text-nowrap">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th scope="col" class="text-nowrap">プラットフォーム</th>
          <td><%= @user.platform %></td>
        </tr>
    </table>

    <% unless @user.id == @current_user.id %>
      <% if @isRoom == true %>
        <%= link_to 'メッセージを送る', room_path(@roomId), class: 'btn btn-outline-dark' %>
      <% else %>
        <%= form_with(model: @room, local: true) do |f| %>
          <%= f.hidden_field :name, value: "#{@current_user.id}-#{@user.id}" %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "チャットを始める" %>
        <% end %>
      <% end %>
    <% end %>

    <div class="text-center">
      <%= link_to "戻る", boards_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
